body {
	margin: 0;
	padding: 0;
}
.stripe {
	position: absolute;
	height: 100%;
	width: 33.333333333%;
}
.left {
	background-color: #4a90e2;
	left: 0;
}
.center {
	background-color: #50e3c2;
	left: 33.333333333%;
}
.right {
	background-color: #b8e986;
	right: 0;
}
.img-wrap {
	position: absolute;
	display: table;
	bottom: 0;
	background-color: #d0021b;
	width: 100%;
	height: 210px;
	text-align: center;
}
.img-wrap span {
	display: table-cell;
	vertical-align: middle;
	color: white;
	font-family: sans-serif;
}